<div class="page-header">
  <h3>授权记录</h3>
</div>

<div class="row">
  <div class="col col-lg-12">
    <div>
      <div class="wide-table-wrap">
        <table ng-table="authorization.tableParams" class="table tg-table table-wide table-condensed table-bordered table-striped" show-filter="true">
          <colgroup>
            <col width="10"/>
            <col width="10"/>
            <col width="10"/>
            <col width="10"/>
            <col width="10"/>
            <col width="10"/>
            <col width="10"/>
            <col width="10"/>
          </colgroup>
          <tr ng-repeat='row in $data'>
            <td title="'操作'"></td>
            <td title="'手机号'" filter="{cellPhone:'number'}" sortable="'cellPhone'">{{::row.cellPhone}}</td>
            <td title="'活动编号'" filter="{fkActivityId:'text'}" sortable="'fkActivityId'">{{::row.fkActivityId}}</td>
            <td title="'活动名称'">{{::row.activityTitle}}</td>
            <td title="'参与专题'">{{::row.advertise.name}}</td>
            <td title="'状态'">{{::row.state}}</td>
            <td title="'授权时间'">{{::row.createTime}}</td>
            <td title="'操作人'">{{::row.creator}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>